.idea

/config_private.ini

__pycache__

codes/python/*
codes/sagemath/*
codes/magma/*
paper_ai/*
chat_content/*

!codes/python/.gitkeep
!codes/sagemath/.gitkeep
!codes/magma/.gitkeep
!paper_ai/.gitkeep
!chat_content/.gitkeep